.index {
  height: calc(100vh - 100px - env(safe-area-inset-bottom));
}

.index__content {
  display: grid;
  grid-template-rows: auto auto minmax(0, 1fr);
  min-height: 100%;
  box-sizing: border-box;
  padding-bottom: 28px;
}
